h1 {color: red;}
p {color: green; }
a {color: purple;}
.center {
    text-align: center;
    }
    .right {
        text-align: right;
        padding: 0.5em 1.5em; 
    background-color: #436fea; 
    color: #fff; 
    border: none; 
    font-size: 1em; 
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3); 
    margin-right: 1rem; 
    transition: background-color 0.4s, box-shadow 0.2s 0.3s;
            
        }
        .left {
            text-align: left;
            padding: 0.5em 1.5em; 
    background-color: #436fea; 
    color: #fff; 
    border: none; 
    font-size: 1em; 
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3); 
    margin-right: 1rem; 
    transition: background-color 0.4s, box-shadow 0.2s 0.3s;
            
            }
            .right:hover {
                background-color: #4f74db; 
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #4d74e0; 
               }
               .left:hover {
                background-color: #4f74db; 
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #4d74e0; 
               }

    body {
        animation: bg-color 5s ease-in-out infinite; 
        -moz-user-select: none;
            
        -webkit-user-select: none;
    
        -ms-user-select: none;
    
        -o-user-select: none;
    
        user-select: none;
       
           }   
           .btn {
            padding: 0.5em 1.5em; 
            background-color: #00ff15; 
            color: #fff; 
            border: none; 
            font-size: 1em; 
            text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3); 
            margin-right: 1rem; 
            transition: background-color 0.4s, box-shadow 0.2s 0.3s;
           }
           .btn:hover {
            background-color: #1bd62a; 
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #2bec3b; 
           }
           body { 
            animation: bg-color 2s ease-in-out infinite; 
            background-image: url(background.jpg);
      
       background-size: 100%;
          } 
          
          @keyframes bg-color { 
            0% { 
              background-color: rgb(0, 255, 21); 
            } 
            25% {
                background-color: rgb(229, 255, 0); 
            }
            50% { 
                background-color: rgb(0, 47, 255); 
            } 
            100% { 
                background-color: rgb(0, 255, 21); 
            } 
          } 